<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<link rel='shortcut icon' href='../favicon.ico' type='image/x-icon'/ >
		<!-- CSS Libraries -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="build/css/stylesheet.min.css">
		<title>Eat36Five</title>
	</head>

	<body>
	
		<div class="Main_Search-about">

		    <div class="container">
		          <h3>
		            <span ><a href="/" class="middle-title about-title" >Eat36Five</a></span> 
		            <span class="middle-about"><a href="/about">About us</a></span>
		          </h3>

		          <div class="middle-form-section">
		            <p class="middle-title-1">About us</p>
		            <p class="middle-title-2-about">Eat36Five was created to help answer the question, "Where should I eat today?".</p>
		           </div>
		    </div>

		 </div>

		 <div class="row about-me-section">
		   <div class="col-md-4">
		         <img src="build/images/profilepicture.jpg" width="110" class="img-circle" alt="">
		     </div>

		     <div class="col-md-8">
			    <h2 class="about-information"><strong>Kirck Pingul</strong></h2>
			    <h3 class="about-information"><strong>Front-End Web Developer</strong></h3> 
			    <p class="about-information about-information-desc">Eat36Five was built to help users find a new restaurant around the area. It was designed for mobile and desktop applications and uses best practices both on the client and server side. The development process uses Git as a way to provide version control and proper documentation throughout the code base. On the client side, Angular was used to give users an SPA experience using client side routing and ajax calls. On the server, Node and Express provided the RESTful API to serve the client data from Foursquares' API services. In addition, MongoDB is being used as the database to store search queries for analytic purposes. All in all, the application was tested using Jasmine, Karma, and deployed and maintained directly through Heroku.   </p>
		     	
		     	
		     </div>
		   </div>



		<div class="footer">
		    <p>
		      <span style="float: left">@Eat36Five</span>
		      <span style="float: right">Created by Kirck Pingul</span>
		    </p>
		  </div>


	</body>
</html>