<nav class="navbar navbar-default" style="margin-bottom: 0px">

  <div class="container-fluid">

    <div class="navbar-header">
   
      <a class="navbar-brand" ui-sref="home">SFSquare</a>

    </div><!-- end of navbar header -->

  </div><!-- end of container-fluid -->

</nav><!-- end of navigation bar -->

<div id="spinner">
        <span id="first" class="ball"></span>
        <span id="second" class="ball"></span>
        <span id="third" class="ball"></span>
</div>

<div class="container-fluid overlay">

	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-6 searchVenueContainer">

			<div class="SearchVenueFilterContainer">

				<h4 ng-if="vm.venueFilter">	

					<p><small>Search Results for <strong>{{vm.searchName | uppercase}}</strong> near<strong> San Francisco, CA</strong></small></p>

					<button 

						class="btn btn-default btn-md" 
						type="button" 
						data-toggle="collapse" 
						data-target="#collapseExample" 
						aria-expanded="false" 
						aria-controls="collapseExample" 
						drop-down>

						Show Filters

					</button>

				</h4>

	
				<div class="collapse" id="collapseExample">


				  <div class="well clearfix">
				    
							<div class="dropDownSearchList">
								
								<h5><strong>SortBy</strong></h5>

								<ul class="innerDropDownSearchList">
								
									<li>
										<a href=""  loading-bar sort="-venue.rating">Best Match</a>
									</li>

									<li >
										<a href=""  loading-bar sort="-venue.rating">Highest Rated</a>
									</li>

									<li>
										<a href="" loading-bar sort="venue.rating">Lowest Rated</a>
									</li>

								</ul><!-- end of innerDropDownSearchList -->
					
							</div><!-- end of dropDownSearchList -->


							<div class="dropDownSearchList">
						
								<h5><strong>Price</strong></h5>

								<ul class="innerDropDownSearchList">
								
									<li>
										<a href="" loading-bar sort="-venue.price.tier">Most Expensive</a>
									</li>

									<li>
										<a href="" loading-bar sort="venue.price.tier">Least Expensive</a>
									</li>	

							 	</ul>


							</div><!-- end of dropDownSearchList -->

				  </div><!-- end of well -->

				</div><!-- end of collapse -->
			
			</div> <!-- SearchVenueFilterContainer -->
					

			<ul class="searchVenueList">


				<li ng-repeat="venue in vm.venues | orderBy: vm.sortType  track by $index " ui-sref="venue({venueID: venue.venue.id})">
				   
						<div class="media">

						  <div class="media-left SearchVenuePhotoContainer">

						  	 <a href="">

						   	  	 <img 

						   	  	 	class="media-object SearchVenuePhoto" 
						   	  	 	src="{{venue.venue.photos.groups[0].items[0].prefix}}300x300{{venue.venue.photos.groups[0].items[0].suffix}}" 
						   	  	 	alt="...">

							  </a>
						   	
						  </div><!-- end of media-left -->

						  <div class="media-body searchVenueBody">

						  	<p>

						  		<span class="searchVenueIndex">{{$index + 1}}</span>. <span class="searchVenueRating">{{venue.venue.rating}}</span>
								<small>Click for more details...</small>
						  	</p>

						    <h4 class="media-heading"> 

						    	<a href="">{{venue.venue.name}}</a>

						    </h4>

						    <strong>{{vm.duplicate(venue.venue.price.currency, venue.venue.price.tier)}}</strong> &middot; {{venue.venue.categories[0].name}}<br>
						    {{venue.venue.hours.status}}

						  </div><!-- end of media body -->

						  <div class="media-right searchVenueAddressContainer">
						  	
							<address class="searchVenueAddress">
								{{venue.venue.location.address}}<br>
								{{venue.venue.location.city}},{{venue.venue.location.state}}<br>
								{{venue.venue.contact.formattedPhone}}
							</address>

						  </div><!-- end of media right -->

						</div><!-- end of media -->

						
						<div class="media" style="line-height: 1em">
							
						  	<img 

						  		class="SearchVenueUserPhoto" 
						  		src="{{venue.tips[0].user.photo.prefix}}300x300{{venue.tips[0].user.photo.suffix}}" 
						  		alt="">

					
							<span  class="searhVenueUserTip">{{venue.tips[0].text}}</span>

							
						</div><!-- end of media -->

					
					
				</li><!-- end of ng repeat venue -->

			</ul><!-- end of search venue list -->

				
<div class="footer">
  <p>
    <span style="float: left">@SFSquare</span>
    <span style="float: right">Created by Kirck Pingul</span>
  </p>

</div>
			
		</div><!-- end of col-md-6 -->

		<div class="col-xs-12 col-sm-6 col-md-6" style="padding: 0" >
			


			
			<div id="mapCanvas" style="width: 100%; height: 92%"></div>
			


		</div><!-- end of col-md-6 -->

		
	</div><!-- end of row -->



</div><!-- end of container -->
	
