<div class="Main_Search">
  <div id="home-header">
  </div>
  <div class="middle">
    <p class="middle-title-2">Feeling Hungry?</p>
    <p class="middle-title-1"><span style="color: #4eaacf"><strong>We're</strong></span> here to help!</p>
    <p class="middle-title-3">Type in the food that you are craving here in San Francisco.</p>
    
    <form ng-submit="vm.searchRequest(vm.searchQuery)" class="middle-form">
      <div class="input-group">
        <input type="text" id="input" class="form-control" name="searchTerm" placeholder="e.g. Steak or Pizza" ng-model="vm.searchQuery"  ng-minlength="3" ng-maxlength="30" required>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="!vm.searchQuery" id="search" type="submit">SEARCH <i class="fa fa-spinner fa-spin" ng-if="!vm.validResponse"></i></button>
          <!-- ui-sref="main({type: vm.searchQuery})" -->
        </span>
        </div><!-- /input-group -->
        <div class="alert alert-info" role="alert" ng-if="vm.errorResponse" style=" margin-top: 13px; color: #123D52">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Cannot find any results with <em>{{::vm.searchQuery}}</em> , please enter another search term.</strong>
        </div>
      </form>
      
    </div><!-- end of middle -->
  </div><!-- end of Main Search -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search_description">
          <h2>Find a new favorite spot</h2>
          
          <h4 class="search_description_subTitle">SFSquare helps you analyze the restaurants.</h4>
          
        </div>
      </div>
    </div>
    <div class="row search_description_options" >
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x "></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="search_description_st_title"><b>1). Enter a Search Term</b></h4>
        <p class="search_description_st_description">Enter the type of food or restaurant you're looking for. Examples: pizza, chicken sandwich, oysters, shrimp, etc.</p>
      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x "></i>
          <i class="fa fa fa-list fa-stack-1x fa-inverse"></i>
        </span>
        <h4  class="search_description_st_title" ><b>2). Listed Results Displayed</b></h4>
        <p class="search_description_st_description">We will generate a list of possible options around the San Francisco area based on your search term.</p>
      </div>
      
    </div>
  </div><!-- end of container -->
  <div class="footer">
    <p>
      <span style="float: left">@SFSquare</span>
      <span style="float: right">Created by Kirck Pingul</span>
    </p>
  </div>