<!--_________________________________________________________________-->
<!--   Contains the Specific Venue requested from User               -->
<!--__________________________________________________________________-->
<nav class="navbar navbar-default" style="margin-bottom: 0px">

  <div class="container-fluid">

    <div class="navbar-header">
   
      <a class="navbar-brand" ui-sref="home">SFSquare</a>

    </div><!-- end of navbar header -->

  </div><!-- end of container-fluid -->

</nav><!-- end of navigation bar -->

<div class="container VenueContainer">
	
	<div class="row">
	
		<!-- Angular Slick Carousel Plugin -->

		<slick 

			arrows="true" 
			speed="300" 
			slides-to-show="5" 
			touch-move="false" 
			slides-to-scroll="1" 
			data="vm.venue.photos.groups[1].items"
			init-onload="true" 
			responsive="vm.slickBP">

			<div ng-repeat="photo in ::vm.venue.photos.groups[1].items">
					
	  			 <div class="img-wrap" >

    				<img class="img-responsive" src="{{::photo.prefix}}300x300{{::photo.suffix}}" alt="">

			        <div class="img-info">

			            <h4><strong>{{::photo.user.firstName}} {{::photo.user.lastName}} </strong></h4>

			            <p>on {{::photo.createdAt | timefilter}}</p>

			        </div>
			    </div>


	  		</div>
	  
		</slick><!-- end of slick carousel -->


		<h4 class="text-center" >	

			<a href="#" venue-photo-gallery venueId="{{vm.venue.id}}">See all photos</a>

		</h4>


	</div><!-- end of row -->


	<div class="row">

		<div class="col-md-8">

						
				<div class="panel panel-default">

				  <div class="panel-body" style="padding: 0; padding: 0px 20px">
						
					<span class="addressName">	
						<h1>{{::vm.venue.name}}</h1>

						<p>{{::vm.venue.categories[0].name}} &middot; {{::vm.venue.categories[1].name}}</p>
					</span>


					<address class="businessInformationContainer">
						
						<strong><span class="businessRating">{{::vm.venue.rating}}</span> Based on {{::vm.venue.ratingSignals}} ratings </strong>

						</p>

						 <strong>{{::vm.venue.location.address}}<br>

						 {{::vm.venue.location.city}}, {{::vm.venue.location.state}} {{::vm.venue.location.postalCode}}</strong><br>

						 <span class="glyphicon glyphicon-earphone"></span>{{::vm.venue.contact.formattedPhone}}<br>

					 	<span class="glyphicon glyphicon-new-window"></span> 

						<a href="{{::vm.venue.url}}">{{::vm.venue.name | lowercase}}</a>


					</address><!-- end of address -->
		

					<address class="businessMenu">

						<span><b>Hours</b>: <strong ng-class="{closedVenue : vm.venue.hours.isOpen == false, openVenue : vm.venue.hours.isOpen == true}">{{::vm.venue.hours.status}}</strong>
							
							<a 
								href="" 
								data-container="body" 
								data-toggle="popover" 
								data-placement="top" 
								id="popoverBusinessHours" 
								data="vm.venue.hours.timeframes" 
								business-hours-toolbar>

							 (View hours)

							</a>

						 </span>

						<span><b>Price: </b> <strong class="pricing">{{::vm.venue.attributes.groups[0].summary}}</strong> {{::vm.venue.price.message}}</span>

						<span ng-repeat="menu in vm.venue.attributes.groups | menufilter">

							<span ng-if="menu.name === 'Menus'"><b>Menu</b> <strong class="glyphicon glyphicon-cutlery"></strong> : {{menu.summary}} <a href="{{vm.venue.menu.url}}"><small>(View Menu)</small></a></span>

							<span ng-if="menu.name === 'Drinks'"><b>Drinks</b>: {{menu.summary}}</span>

						</span>
		
						<span><b>Visits</b>  &middot;  {{::vm.venue.stats.visitsCount}}</span>

						
						<span>	<b>Checkins </b>&middot; {{::vm.venue.stats.checkinsCount}}</span>


					</address><!-- end of address -->


				  </div><!-- end of panel body -->

				</div><!-- end of panel -->
			
			
		</div><!-- end of column md-3-->


			<div class="col-md-4 pull-right">
				<div id="venue-canvas" style="width: 100%; height: 20em">
			</div>
		</div>
		
	</div><!-- end of row -->

	<div class="row">
			
			<div class="col-md-9">
			
		
				<h2>Recommended Reviews</h2>

				<div class="panel panel-default">
				  <div class="panel-body ">

					<span class=" userReviewTotalLength userReviewBody"><b>{{::vm.venue.tips.groups[0].items.length}} tips and reviews</b></span>


					<span class="float-right userReviewBody ">

						  <span><b> Sort </b>|</span>
						  <span><a href="" ng-click="vm.sortType = '-createdAt'">Recent |</a></span>
						  <span><a href="" ng-click="vm.sortType = '-likes.count'">Popular</a></span>
					
					</span>

				 
				  </div><!-- end of panel body -->

				</div><!-- end of panel -->

			
			

				<ul class="userReviewList"> 
					
					<li ng-repeat="user in vm.venue.tips.groups[0].items | filter: vm.phraseName| orderBy: vm.sortType | limitTo: vm.reviewLim ">
			
						<div class="media">

						  <div class="media-left">

						      <img class="media-object userReviewThumbnails" src="{{user.user.photo.prefix}}300x300{{user.user.photo.suffix}}" >

						  </div>

						  <div class="media-body">

						    <h5 class="media-heading">
								 {{user.text}}

						    </h5>

			    			<small  class="text-muted">{{user.user.firstName}} {{user.user.lastName}}  <strong>&middot;</strong> {{user.createdAt | timefilter}}  <strong>&middot;</strong> <span class="glyphicon glyphicon-heart" style="font-size: 0.9em"></span> {{user.likes.count}} likes</small>

						  </div><!-- end of media body -->

						</div><!-- end of media -->


					</li><!-- end of ng repeat  user  values -->

					<center>

						<button ng-disabled='vm.reviewLim === vm.venue.tips.groups[0].items.length' view-more-reviews>View More</button>

					<center>

				</ul><!-- end of user review list -->
				
			</div><!-- end of column-->

			<div class="col-md-3">

				<div class="panel panel-default">

					 <div class="panel-heading"><strong class="businessHoursTitle">More Business Info</strong></div>

					  <div class="panel-body">
				   		
				   		<ul class="businessInformationList">

				   			<li ng-repeat="info in ::vm.venue.attributes.groups">

				   				{{::info.items[0].displayName}} - <strong>{{::info.items[0].displayValue}}</strong> 

				   			</li>


				   		</ul><!-- end of business InformationList list -->

				  </div><!-- end of panel body -->

				</div><!-- end of panel -->

				<h5><strong>You May Also Like</strong></h5>

				<div  

					class="similarVenueContainer" 
					ng-repeat="(index, similarVenue) in vm.similarVenues track by $index"
					ng-click="vm.viewSimilarVenue(vm.similarVenues[index].id)">
					
					<address style="line-height: 1.1">
						

						<a class="similarVenueContainerLink" href="{{similarVenue.url}}">
						
						   	<img class="pull-left" src="{{similarVenue.categories[0].icon.prefix}}bg_64{{similarVenue.categories[0].icon.suffix}}"/>
			
							    <h5 >
									<a href="">{{similarVenue.name}}
									</a>
							    </h5>
								<p>{{similarVenue.categories[0].shortName}}</p>
						    	 <small>{{similarVenue.location.address}} ({{similarVenue.location.crossStreet}})</small>
			
														
						</a>
						
					</address>
				</div>

			</div><!-- end of col md 3 -->

	</div><!-- end of row-->
	
	
</div>	<!-- end of container -->



	

<div class="footer">
  <p>
    <span style="float: left">@SFSquare</span>
    <span style="float: right">Created by Kirck Pingul</span>
  </p>

</div>




